.under--footer--container {
  display: flex;
  justify-content: center;
  background-color: #151515;
}

.under--footer--content {
  width: var(--width-content);
  color: white;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  flex-wrap: wrap;
}

.copyright {
  margin-right: auto;
}

.copyright-2 {
  display: flex;
}

@media (max-width: 768px) {
  .under--footer--container {
    justify-content: center;
  }
  .under--footer--content {
    padding: 10px;
    line-height: 50px;
    font-size: 13px;
  }
}